<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shikhar Dental Care</title>

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <!-- bootstrap cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href="assets/lib/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/shikhar_dental.css">
  <link rel="icon" href="assets/images/shikhar_dental/favicon.png" />

</head>

<body>

  <!-- header section starts  -->

  <header class="header fixed-top">

    <div class="container">

      <div class="row align-items-center justify-content-between">

        <a href="#home" class="logo">Shikhar<span> Dental Care</span></a>

        <nav class="nav">
          <a href="#home">home</a>
          <a href="#about">about</a>
          <a href="#services">services</a>
          <a href="#reviews">reviews</a>
          <a href="#contact">contact</a>
        </nav>

        <a href="#contact" class="link-btn">make appointment</a>

        <div id="menu-btn" class="fas fa-bars"></div>

      </div>

    </div>

  </header>

  <!-- header section ends -->

  <!-- home section starts  -->

  <section class="home" id="home">

    <div class="container">

      <div class="row min-vh-100 align-items-center">
        <div class="content text-center text-md-left">
          <h3>Allow us to make your smile brighter.</h3>
          <p>Shikhar Dental Care Can Help You Get the Smile You've Always Wanted. We offer cosmetic dentistry, root
            canal therapy, cavity inspections, and more.</p>
          <a href="#contact" class="link-btn">make appointment</a>
        </div>
      </div>

    </div>

  </section>

  <!-- home section ends -->

  <!-- about section starts  -->

  <section class="about" id="about">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-md-6 image">
          <img class="shikhar-img-rounded" src="assets/images/shikhar_dental/about-img.jpg" class="w-100 mb-5 mb-md-0" alt="">
        </div>

        <div class="col-md-6 content">
          <span>about us</span>
          <h3>Shikhar Dental Care</h3>
          <p>
            Shikhar Dental Care helps you achieve the quintessentially oriented smile you have always craved. Our product gets the job done without making you go through any hassle or discomfort.
          </p>
          <a href="#contact" class="link-btn">make appointment</a>
        </div>

      </div>

    </div>

  </section>

  <!-- about section ends -->

  <!-- services section starts  -->

  <section class="services" id="services">

    <h1 class="heading">our services</h1>

    <div class="box-container container">

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-1.svg" alt="">
        <h3>Alignment specialist</h3>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-2.svg" alt="">
        <h3>Cosmetic dentistry</h3>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-3.svg" alt="">
        <h3>Oral hygiene experts</h3>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-4.svg" alt="">
        <h3>Root canal specialist</h3>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-5.svg" alt="">
        <h3>Live dental advisory</h3>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/icon-6.svg" alt="">
        <h3>Cavity inspection</h3>
      </div>

    </div>

  </section>

  <!-- services section ends -->

  <!-- process section starts  -->

  <section class="process">

    <h1 class="heading">work process</h1>

    <div class="box-container container">

      <div class="box">
        <img src="assets/images/shikhar_dental/process-1.png" alt="">
        <h3>Cosmetic Dentistry</h3>
        <p>Cosmetic dentistry includes teeth whitening, dental implants, dental crowns, and teeth shaping.</p>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/process-2.png" alt="">
        <h3>Pediatric Dentistry</h3>
        <p>Padiatric dentistry include stainless steel crowns, tooth-colored fillings, dental cleanings, and cavities.
        </p>
      </div>

      <div class="box">
        <img src="assets/images/shikhar_dental/process-3.png" alt="">
        <h3>Dental Implants</h3>
        <p>Dental implants are artificial tooth roots that are surgically placed into the jawbone.</p>
      </div>

    </div>

  </section>

  <!-- process section ends -->

  <!-- reviews section starts  -->

  <section class="reviews" id="reviews">

    <h1 class="heading"> Our Clients </h1>

    <div class="box-container container">

      <div class="box">
        <div class="box-icon">
          <img src="assets/images/shikhar_dental/smiley_tooth.png" alt="Smiley tooth">
        </div>
        <p> I had a great experience at Shikhar Dental care. Dr. Rabina was knowledgeable and took the time to explain everything clearly. I highly recommend Shikhar Dental Care for anyone seeking excellent dental care.</p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h3>Dr. Nipun Maharjan</h3>
        <span></span>
      </div>

      <div class="box">
        <div class="box-icon">
          <img src="assets/images/shikhar_dental/smiley_tooth.png" alt="Smiley tooth">
        </div>
        <p>
          The care I received was top-notch. The cleaning was gentle but thorough,an Dr. Rabina Singh Shrestha provided insightful tips for maintaining my dental health. The attention to detail and patient care was evident in every aspect of the treatment. The clinic environment was outstanding.Every area, from the waiting room to the treatment rooms, was spotlessly clean and well-organized. The ambiance was both professional and relaxing. Thank you so much for wonderful treatment and tips. Highly recommended.
        </p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h3>Pranesh Shakya</h3>
        <span></span>
      </div>

      <div class="box">
        <div class="box-icon">
          <img src="assets/images/shikhar_dental/smiley_tooth.png" alt="Smiley tooth">
        </div>
        <p>Dr. Rabina is excellent, professional and caring. Highly recommended.</p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h3>Nistha Ayurved</h3>
        <span></span>
      </div>

    </div>

  </section>

  <!-- reviews section ends -->

  <!-- contact section starts  -->

  <section class="contact" id="contact">

    <h1 class="heading">make appointment</h1>

    <form action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post">
      <!--<?php
         if(isset($message)){
            foreach($message as $message){
               echo '<p class="message">'.$message.'</p>';
            }
         }
      ?>-->
      <span>Enter your name :</span>
      <input type="text" name="name" placeholder="Enter your name" class="box" required>
      <span>Enter your email :</span>
      <input type="email" name="email" placeholder="Enter your email" class="box" required>
      <span>Enter your number :</span>
      <input type="number" name="number" placeholder="Enter your number" class="box" required>
      <span>Enter appointment date :</span>
      <input type="datetime-local" name="date" class="box" required>
      <input type="submit" value="make appointment" name="submit" class="link-btn">
    </form>

  </section>

  <!-- contact section ends -->

  <!-- footer section starts  -->

  <section class="footer">

    <div class="box-container container">

      <div class="box">
        <i class="fas fa-phone"></i>
        <h3>phone number</h3>
        <p>
          <a class="shikhar-link" href="tel:9849245461">9849245461</a> / <a class="shikhar-link" href="tel:01-5200835">01-5200835</a>
        </p>

      </div>

      <div class="box">
        <i class="fas fa-map-marker-alt"></i>
        <h3>our address</h3>
        <p><a href="https://www.google.com/maps?q=Alpine+Tole,+Mahalaxmi+04,+Lalitpur" target="_blank" class="shikhar-link">Alpine Tole, Mahalaxmi 04, Lalitpur</a></p>
      </div>

      <div class="box">
        <i class="fas fa-clock"></i>
        <h3>opening hours</h3>
        <p>09:00am to 06:00pm</p>
      </div>

      <div class="box">
        <i class="fas fa-envelope"></i>
        <h3>email address</h3>
        <p>
          <a href="mailto:shikhardentalcare@gmail.com" class="shikhar-link">shikhardentalcare@gmail.com</a>
        </p>

      </div>

    </div>

    <div class="credit"> &copy;2026 <?php echo date('Y'); ?> <span>Shikhar Dental Care</span> All Reserved Rights </div>

  </section>

  <!-- footer section ends -->



  <!-- preloader -->
  <div id="preloader">
    <div class="loader"></div>
  </div>

  <!-- back to top button -->
  <a href="#home" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
  </a>


  <!-- custom js file link  -->
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
  <script src="assets/lib/gsap/gsap.min.js"></script>
  <script src="assets/lib/gsap/ScrollTrigger.min.js"></script>
  <script src="assets/lib/gsap/MotionPathPlugin.min.js"></script>
  <script src="assets/lib/swiper/swiper-bundle.min.js"></script>
  <script src="assets/js/shikhar_dental.js"></script>

</body>

</html>